/KIJ_Chat_Server/dist/
/KIJ_Chat_Client/dist/
/rahmat/KIJ_Chat_Client/build/
/rahmat/KIJ_Chat_Client/dist/
/rahmat/KIJ_Chat_Client/nbproject/private/
/rahmat/KIJ_Chat_Server/build/
/rahmat/KIJ_Chat_Server/dist/
/rahmat/KIJ_Chat_Server/nbproject/private/